.layout {
  background: #fff;
  .hader {
    height: 568px;
    background: linear-gradient(135deg, #d6e9ff 0%, #e3d7ff 100%);
    background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.jj20.com%2Fup%2Fallimg%2Ftp09%2F210611094Q512b-0-lp.jpg&refer=http%3A%2F%2Fimg.jj20.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1650702720&t=d35c1348153b7dccd722447027e7e52d');
  }
}
